# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-ssr

# Vite
.vite

# Environment
.env
.env.local
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# TypeScript
*.tsbuildinfo
